* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}

/* ---------------------------container------------------------------ */
.body__container {
    max-width: 1600px;
    padding: 0 40px;
    /* background-color: #ccc; */
}





/* ----------------------------Header------------------------------ */
#header {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
    color: black;
    background-color: white;
}

/* ---------------------------- logo------------------------------ */

.logo {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;

}   


/* -----------------------------Taskbar-------------------------- */

.taskbar__list {
    display: flex;
}

.taskbar__content .line {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: black;
    /* animation: animateForLine__Out .5s ease forwards; */
}
/* .taskbar__content:hover .line {
    animation: animateForLine__In .5s ease forwards;
} */
@keyframes animateForLine__In {
    from {
        width: 0;
        left: 0;
    }
    to{
        width: 100%;
        left: 0;
    }
}
@keyframes animateForLine__Out {
    from {
        width: 100%;
        right: 0;
    }
    to{
        width: 0;
        right: 0;
    }
}

.taskbar__content {
    margin: 0 12px;
    font-size: 14px;
    position: relative;
    line-height: 70px;
}
.taskbar__content i {
    font-size: 8px;
    /* animation: rotate__180-0 .3s forwards; */
}
.taskbar__content:hover i {
    animation: rotate__0-180 .3s forwards;
}
@keyframes rotate__180-0 {
    from {
        transform: rotate(180deg);
    }
    to{
        transform: rotate(0deg);
    }
}
@keyframes rotate__0-180 {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}


/* -------------------------------Other--------------------------- */




.other__list {
    display: flex;
}
.other__icon {
    padding: 0 12px
}

.other__cart {
    position: relative;
    
}

.other__cart-count {
    font-size: 6px;
    width: 10px;
    height: 10px;
    background-color: #f1c150;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 8px;
    border-radius: 50px;
    text-align: center;
    line-height: 10px;
    color: white;
}




/* ----------------------------Body------------------------------ */

.body__carousel {
    margin: 0 -40px;
}

